/*
Theme Name: 	Betheme Child
Theme URI: 		http://themes.muffingroup.com/betheme
Author: 		Muffin group
Author URI: 	http://muffingroup.com
Description:	Child Theme for Betheme - Premium WordPress Theme
Template:		betheme
Version: 		1.6.1
*/

/* Theme customization starts here
-------------------------------------------------------------- */
.tribe-tickets-terms-conditions input[type="checkbox"] + label {
	display: inline-block;
}

/* hide sidebar on mobile */
@media screen and (max-width: 480px) {
    .four.columns{
    	display: none; !important;
    }
}

/**************************************************/

.tribe-tickets-full-name select, textarea{
margin-bottom: 0px;
}



.single-tribe_events .tribe-events-event-image {
		max-height: 615px;
        overflow: hidden;
}

/**************************************************/

div.tribe-events-single h2{
	   margin: 0px;
	   font-size: 1.2em;
	   color: #626262;
}


.single-tribe_events .tribe-events-event-image {
	  margin-bottom: 0px;
}

.single-tribe_events .tribe-events-event-meta {
    margin: 5px 0;
}


/* Fixing pop-ups int the Month View */
.tribe-events-event-thumb {
	width: 100%;
}

 /* image in the RSVP form */
.tickets-form-image {
	display: flex; 
	flex-grow: 200; 
	max-height: 200px;
}

 /* image in the RSVP form */
.sun-image {
	display: flex; 
	flex-grow: 200; 
	max-height: 200px;
	border-style: solid;
	padding-bottom: 50px;
}

.tribe-answer select {
    padding: 0px 10px;
}

/* Abrir a form de inscrição */
.tribe-tickets-meta-row {
	display: table-row;
} 

	
.transportation_prices{
	margin-left: 30px;
}

	
	 /* I moved the
		'@media only screen and (min-width: XXX) and (max-width : XXX)'
		from the all-events to the css of that page in the theme, 
		otherwise I couldn't differentiate its behavior from the one from the main page */

		/* Main page here. */
		
		
		/*
			@media only screen and (max-width : 580px)   {
	#Content .sun_off_the_beaten_track {
		display: none;
	}*/
	
		
	@media only screen and (max-width : 599px)   {
	#Content .gallery .gallery-item {
		margin-bottom: 0px !important; /* See Shortcodes.css */
	}
	
	/* Disabling the td where is the image in the sign up form*/
	.td-tickets-form-image{
		display: none !important; 
	}
}	
		
@media only screen and (min-width: 600px) and (max-width : 767px)   {
	.tribe-events-photo-event-wrap .tribe-events-event-image {
		min-height: 104px;
		max-height: 104px;
        overflow: hidden;
	}
	.tribe-events-photo-event-wrap .tribe-events-event-details.tribe-clearfix{
		min-height: 197px;
		max-height: 197px;
		overflow: hidden;
	}
	
	/* Disabling the td where is the image in the sign up form*/
	.td-tickets-form-image{
		display: none !important; 
	}
	
}

@media only screen and (min-width: 768px) and (max-width : 959px) {
	.tribe-events-photo-event-wrap .tribe-events-event-image {
		min-height: 152px;
		max-height: 152px;
        overflow: hidden;
	}
	.tribe-events-photo-event-wrap .tribe-events-event-details.tribe-clearfix{
		min-height: 194px;
		max-height: 194px;
		overflow: hidden;
	}
	
	/* Hidding sidebar. */
	.sections_group{margin:0;width:100%!important;clear:both;}
	.four.columns {
		display: none;
	}
} 

@media only screen and (min-width: 960px) and (max-width : 1239px)  {
	.tribe-events-photo-event-wrap .tribe-events-event-image {
		min-height: 201px;
		max-height: 201px;
        overflow: hidden;
	}
	.tribe-events-photo-event-wrap .tribe-events-event-details.tribe-clearfix{
		min-height: 209px;
		max-height: 209px;
		overflow: hidden;
	}
} 

@media only screen and (min-width: 1240px)   {
	.tribe-events-photo-event-wrap .tribe-events-event-image {
		min-height: 259px;
		max-height: 259px;
        overflow: hidden;
	}
	.tribe-events-photo-event-wrap .tribe-events-event-details.tribe-clearfix{
		min-height: 186px;
		max-height: 186px;
		overflow: hidden;
	}
} 


.tribe-events-list .tribe-events-loop .tribe-events-photo-event .tribe-events-event-details {
    padding-top: 0px;
}



/* All events here */
/*
@media only screen and (min-width: 600px) and (max-width : 767px)   {
	.tribe-events-photo-event-wrap .tribe-events-event-image {
		min-height: 104px;
		max-height: 104px;
        overflow: hidden;
	}
	.tribe-events-photo-event-wrap .tribe-events-event-details.tribe-clearfix{
		min-height: 196px;
		max-height: 196px;
		overflow: hidden;
	}
}

@media only screen and (min-width: 768px) and (max-width : 959px) {
	.tribe-events-photo-event-wrap .tribe-events-event-image {
		min-height: 113px;
		max-height: 113px;
        overflow: hidden;
	}
	.tribe-events-photo-event-wrap .tribe-events-event-details.tribe-clearfix{
		min-height: 194px;
		max-height: 194px;
		overflow: hidden;
	}
} 

@media only screen and (min-width: 960px) and (max-width : 1239px)  {
	.tribe-events-photo-event-wrap .tribe-events-event-image {
		min-height: 151px;
		max-height: 151px;
        overflow: hidden;
	}
	.tribe-events-photo-event-wrap .tribe-events-event-details.tribe-clearfix{
		min-height: 184px;
		max-height: 184px;
		overflow: hidden;
	}
} 

@media only screen and (min-width: 1240px)   {
	.tribe-events-photo-event-wrap .tribe-events-event-image {
		min-height: 199px;
		max-height: 199px;
        overflow: hidden;
	}
	.tribe-events-photo-event-wrap .tribe-events-event-details.tribe-clearfix{
		min-height: 187px;
		max-height: 187px;
		overflow: hidden;
	}
} 
*/
